{layout name="layout" /}
<!-- 内容 -->
<div class="col-md-10">
	
	<ol class="breadcrumb">
		<li class="active">选择需要处理的数据文件</li>
	</ol>

	<!-- 面版 -->
	<div class="panel panel-default">
		<form action="{:url('preprocess/process_gen_group')}" method="post">
			<div class="form-group">
				<label for="datasets">选择数据集</label>
				<select class="form-control" name="datasets" id="datasets">
					<option value="0">请选择</option>
					{volist name='datasets' id='value'}
						<option value="{$value.id}">{$value.name}</option>
					{/volist}
				</select>	
			</div>
			<div class="form-group">
				<label for="relation_file">选择社交关系文件:</label>
				<select class="form-control" name="relation_file" id="relation_file">
					<option value="0">请选择</option>
					{volist name='list1' id='value'}
						<option value="{$value}">{$value}</option>
					{/volist}
				</select>
			</div>
			<div class="form-group">
				<label for="group_strategy">群组生成策略</label>
				<select class="form-control" name="group_strategy" id="group_strategy">
					<option value="random">随机</option>
					<option value="sim">相似度</option>
					<option value="relation">社交关系</option>
				</select>
			</div>
			<div class="form-group">
				<label for="group_size">群组人数</label>
				<select class="form-control" name="group_size" id="group_size">
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>
			</div>
			<div class="form-group">
				<label for="sim_type">相似度类型</label>
				<select class="form-control" name="sim_type" id="sim_type">
					<option value="cos">余弦</option>
					<option value="pearson">pearson</option>
				</select>
			</div>
			<div class="form-group">
				<label for="sim_value">相似度阈值</label>
				<input class="form-control" type="text" name="sim_value">
			</div>
			<div class="form-group">
				<label for="result_name">生成结果文件名</label>
				<input class="form-control" type="text" name="result_name">
			</div>
			<div class="form-group">
				<input type="submit" value="开始处理" class="btn btn-success">
			</div>
		</form>
	</div>
</div>

<script type="text/javascript">
	$('#datasets').change(function(){
		var objectModel = {};
		var value = $(this).val();
		objectModel['id'] = value;
		$.ajax({
			cache:false,
			type:"GET",
			url:"get_files",
			dataType:"json",
			data:objectModel,
			timeout:3000,
			success:success,
			error:error
		});
	});
	function success(data){
		$("#files").empty();
		var count = data.length;
		console.log(data);
		console.log(count);
		var b = "";
		for (var i = 0; i < count; i++) {
			b += "<option value='"+data[i]+"'>"+data[i]+"</option>";
		}
		$("#files").append(b);
	}
	function error(){
		alert("获取数据集文件失败！");
	}
</script>