<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>用户登录</title>
		<link rel="shortcut icon" href="__ADMINS__/img/1.png">
		<link rel="stylesheet" href="__ADMINS__/bs/css/bootstrap.min.css">
		<script src="__ADMINS__/bs/js/jquery.min.js"></script>
		<!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
		<script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
		<script src="__ADMINS__/bs/js/bootstrap.min.js"></script>
		<style>
			.navbar-blue{
				background-color: #ccc;
			}
	
			.navbar .navbar-brand{
				color:black;
			}
	
			.navbar .navbar-brand:hover{
				color:black;
			}
	
			.navbar-default .navbar-nav>li>a{
				color:black;
			}
			.navbar-default .navbar-nav>li>a:hover{
				color:black;
	
			}
			
			.body{
				margin-top:90px;
			}
			.list-group{
				display:none;
			}
			.panel-primary>.panel-heading{
				background-color: #ccc;
			}
		</style>
	</head>
<body>
<ol class="breadcrumb">
	<li class="active">推荐算法评价系统登录</li>
</ol>
<form action="{:url('admin/index/do_login')}" method="post" style="margin-left:30px;">
	<table>
		<tr>
			<td><label for="username">用户名</label></td>
			<td><input type="text" class="form-control" style="display: inline;width: 200px;" autocomplete="off"  name="username" id="username" required></td>
		</tr>
		<tr>
			<td height="5"></td>
		</tr>
		<tr>
			<td><label for="password">密码</label></td>
			<td><input type="password" class="form-control" style="display: inline;width: 200px;" autocomplete="off" name="password" id="password" required></td>
		</tr>
		<tr>
			<td height="5"></td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<button class="btn btn-primary">登录</button>
				<button class="btn btn-primary" type="reset">重置</button>
			</td>
		</tr>
	</table>
</form>
<p style="margin-left:30px;margin-top: 10px;">
	<a href="{:url('index/register')}">没有账号？点击注册</a>
</p>
</body>
</html>