{layout name="layout" /}
<?php
$datasets=Db::table('dataset')->column("name");
?>
<!-- 内容 -->
<div class="col-md-10">
	
	<ol class="breadcrumb">
		<li class="active">算法信息添加</li>
	</ol>

	<!-- 面版 -->
	<div class="panel panel-default">
		
		<div class="panel-body">
			<form action="{:url('admin/user/do_add')}" enctype="multipart/form-data" method="post">

				<div class="form-group">
					算法文件：<input type="file" name="alg">	
					算法配置文件(算法名.txt)：<input type="file" name="config">
					<input type="hidden" name="username" value="{$Think.session.user.username}" />
				</div>

				<div class="form-group">
					<label for="algname">算法名称</label>
					<input type="text" name="algname" class="form-control" id="algname">
				</div>

				<div class="form-group">
					<label for="reference">参考文献</label>
					<input type="text" name="reference" class="form-control" id="reference">
				</div>

				<div class="form-group">
					<label for="dataset">选择数据集</label>
					{volist name='datasets' id='value'}
						<input type="checkbox" name="dataset[]" value="{$value}" />
						{$value}
					{/volist}
				</div>

				<div class="form-group">
					<label for="algtype">算法类型</label>
					<input type="radio" checked="checked" name="algtype" value="通用" />通用
					<input type="radio" name="algtype" value="新闻" />新闻
					<input type="radio" name="algtype" value="POI" />POI
					<input type="radio" name="algtype" value="群组" />群组
					<input type="radio" name="algtype" value="活动" />活动
				</div>

				<div class="form-group">
					<label for="need_computed">是否需要计算评价指标</label>
					<input type="radio" checked="checked" name="need_computed" value="1" />需要
					<input type="radio" name="need_computed" value="0" />不需要
				</div>

				<div class="form-group">
					<input type="submit" value="提交" class="btn btn-success">
					<input type="reset" value="重置" class="btn btn-danger">
				</div>

			</form>
		</div>
		
	</div>
</div>

<script type="text/javascript">
	var SelectFalse = false; //用于判断是否被选择条件
	function Submit(){
		var chboxValue = [];
		var CheckBox = $('input[name = dataset]');//得到所的复选框

		for(var i = 0; i < CheckBox.length; i++){
			//jquery1.6以上可以if(CheckBox[i].prop('checked') == true)去判断checkbox是否被选中
			if(CheckBox[i].checked)
			{
				SelectFalse = true;
				chboxValue.push(CheckBox[i].value);//将被选择的值追加到
			}
		}

		if(!SelectFalse){
			alert("对不起,数据集至少要选一项");
			return false;
		}
		alert("您选择数据集对应的value是："+chboxValue);
	}
</script>