{layout name="layout" /}
<!-- 内容 -->
<div class="col-md-10">

    <!-- 面版 -->
    <div class="panel panel-default">
        <ol class="breadcrumb">
            <b>实验结果柱状图</b>
        </ol>
        <div id="main" style="width: 600px;height:400px;"></div>
        <canvas id='canvasipal' width='600' height='600' style='display: none'></canvas>

        <script src="__ADMINS__/bs/js/echarts.js"></script>
        <script type="text/javascript">
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('main'));
            var xdata = [], ydata = [];
            {volist name='xdata' id='value'}
                xdata.push("{$value}");
            {/volist}
             {volist name='ydata' id='value'}
                ydata.push({$value});
            {/volist}

            // 指定图表的配置项和数据
            var option = {
                toolbox: {
            　　    show: true,
                　　feature: {
                　　　　saveAsImage: {
                    　　　　show:true,
                    　　　　excludeComponents :['toolbox'],
                    　　　　pixelRatio: 2
    　　　　            }
    　　　　        }
                },
                title: {
                    text: ''
                },
                tooltip: {},
                legend: {
                    data:["{$yname}"]
                },
                xAxis: {
                    type: 'category',
                    data: xdata,
                    name:"{$xname}"
                },
                yAxis: {
                    name:"{$yname}"
                },
                series: [{
                    name: "{$yname}",
                    type: 'bar',
                    data: ydata
                }]
            };

            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        </script>
    </div>
</div>